form {
   
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

}

table {
    
    width: fit-content;
    background-color: blueviolet;
    border-radius: 10px;
    font-size: 0; /*Makes sure there's no tamper with the 100%*/
   
}

input {
    background-color: aqua;
    width: calc(100% / 4 - 10px); /*Divides the parent width by 4 and removes the margin on both sides element*/  
    font-size: 25px;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
}

#disp {
    width: inherit;
    height: 70px;
    margin: 5px;
    text-align: right;
}

body {
    background-color: #d4d3d3d3;
}

footer {
    position: absolute;
    top: 100%;
    left: 50%;
}

#zero {
    width: calc(100%/2 - 10px);
}

#equals {
    height: calc((100% - 100px)/3 - 10px);
    position: absolute;
}